# Lectura de dataset

In [8]:
#Inicializando el notebook

import pandas as pd

url = 'https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv'
df = pd.read_csv(url)

df

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
print("El tamaño del data set es ", df.shape)

El tamaño del data set es  (150, 5)

## Descripción columnas

El dataset presenta 5 columnas.

Sepal length: Longitud de las partes externas de la flor que encierran el brote en desarrollo

Sepal width: Ancho de las partes externas de la flor que encierran el brote en desarrollo

Petal length: Longitud de los pétalos de la flor

Petal width: Ancho de los pétalos de la flor

Class: Tipo de flor

In [10]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

## Valores nulos
El dataset no presenta valores nulos.

In [11]:
#Valores nulos
print(df.isnull().sum())

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

## Estadísticas generales

In [12]:
#Obtener estadísticas 
print(df.describe())

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Cantidad de filas
Existen 50 filas para cada tipo de flor.

In [13]:
#Filas para cada flor
print(df['class'].value_counts())

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64